/*显示属性、盒模型、文本属性、其他属性*/

header,
footer,
article,
section,
nav,
menu,
div
{
    display: block;
}
/*@import url(http://fonts.googleapis.com/css?family=Slabo 27px);*/
body
{
    font-family: "Helvitica Neue",Helvitica,Arial,"Hiragino Sans GB","Microsoft YaHei","Arial Regular","Microsoft JhengHei",sans-serif;

    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 0;

    /*text-align: center;*/

    border: 0;
    /*border-top: 5px solid #333;*/
    border-bottom: 0;
    background-color: #ffe;
}
#main,
.main,
.contact-main
{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
    /*    -webkit-box-shadow: 0 0 5px #aaa;
       -moz-box-shadow: 0 0 5px #aaa;
            box-shadow: 0 0 5px #aaa;

         -o-box-shadow: 0 0 5px #aaa;*/
}
.main
{
    padding: 0;
}
div
{
    display: block;
}
a,
a:visited
{
    color: #0277bd;
}
a:hover
{
    color: #039be5;
}
/* header top start*/

#main-head
{
    position: relative;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100px;
    background: #000;
}
#logo
{
    float: left;

    margin-right: 20px;
}
#logo img
{
    width: 60px;

    border: 0;
}

#nav-bar
{
    position: absolute;
    bottom: 0;

    width: 1220px;
    height: auto;
    margin: 10px auto;

    background-color: #333;
}
#nav
{
    float: left;
}
#nav ul
{
    z-index: 9999;

    height: auto;
    margin: 0;
    padding: 0;

    list-style: none;
    /*background-color: #0277bd;*/
}
#nav ul li,
#nav ul ul li
{

    float: left;

    margin: 0;
    padding: 0;
    /*让li元素 左浮动*/
}
#nav ul li a
{
    font-size: 14px;
    line-height: 14px;

    display: block;
    /*这个比较关键，因为a本身就是联级元素，
    本身不具有宽高，用这个把它变成块级元素，
    这样前面设置的宽和高就能起作用了*/

    margin: 0;
    padding: 18px 30px;

    text-align: center;
    text-decoration: none;
    /*设置行距为30px，让文字在每行的中间位置。*/

    color: #fff;
    /*background: url(../img/tagline.png) no-repeat right 50%;*/
}
#nav ul li a:hover
{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;

    color: #fff;
    background-color: #0277bd;
    background-image: none ;
}
#nav ul ul
{
    position: absolute;
    z-index: 9999;
    top: 50px;
    left: 98px;

    display: none;

    width: auto;

    opacity: .95;

    filter: alpha(opacity(95));
}
#nav ul ul li
{
    float: none;
}
#nav ul ul li a
{
    font-size: 14px;
    font-weight: lighter;
    line-height: 14px;

    display: block;

    width: 160px;
    /*这个比较关键，因为a本身就是联级元素，
    本身不具有宽高，用这个把它变成块级元素，
    这样前面设置的宽和高就能起作用了*/
    margin: 0;
    padding: 12px 27px 12px 30px;

    text-align: left;
    text-decoration: none;

    color: #ddd;
    background-color: #333;
    background-image: none;
}
/*header top end*/

/*search start*/
#search
{
    position: relative;

    float: right;

    margin: 10px;
    /*搜索框固定靠右10px*/

    text-align: right;

    align-content: right;
}
input[type=text],
input[type=password],
textarea
{
    border: 0;
    background: #fff;
    /*搜索框内阴影 start*/
    /*-moz-box-shadow: inset 2px 2px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1);
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.1);*/
    /*搜索框阴影 end*/
}

input#s
{
    font-size: 14px;
    line-height: 28px;/*必需，否则IE8以下显示不正常*/

    height: 28px;
    padding: 3px auto;

    border: 0;
}
.assistive-text
{
    position: absolute !important;
    /*隐藏search文字*/

    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(10px, 10px, 10px, 10px);
    /*裁剪图像*/
}
#searchform
{
    text-align: left;

    align-content: left;
}
#branding #searchform
{
    top: -7.6em;

    text-align: right;
}
#branding #searchform div,
#search #searchform div
{
    margin: 0;
}
#branding #s,
#search #s
{
    width: 50px;
    margin: 0;
    padding: 1px 30px 1px 12px;

    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
    -webkit-transition-duration: .4s;
       -moz-transition-duration: .4s;
         -o-transition-duration: .4s;
    -webkit-transition-property: width, background;
       -moz-transition-property: width, background;
         -o-transition-property: width, background;

    background-color: #fff;
}
#branding #s:focus,
#search #s:focus
{
    width: 160px;
    margin-left: 0;

    outline: 1px solid #F6F6F4;
    outline-offset: inherit;
    /*webkit与mozilla引擎默认offset不同*/
}
#branding #searchsubmit,
#search #searchsubmit
{
    display: none;
    /*提交按钮不显示*/
}
#search-subimit
{
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 2px;

    display: block;
    float: right;

    width: 24px;
    height: 24px;

    cursor: pointer;/*鼠标变为手指*/
    transition: left .3s ease;

    border: hidden;
    -moz-border-radius: 50%;
         border-radius: 50%;
    background-color: #fff;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjE5cHgiIGhlaWdodD0iMTlweCIgdmlld0JveD0iMCAwIDE5IDE5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxOSAxOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjNzc3Nzc3IiBkPSJNMTcuNjMyLDE2Ljk1NWwtNC43NjEtNC43NjJjMS4xMDktMS4xODgsMS43OTUtMi43NzYsMS43OTUtNC41MjdjMC0zLjY2Ny0yLjk4Mi02LjY0OC02LjY0OS02LjY0OA0KCWMtMy42NjcsMC02LjY0OSwyLjk4MS02LjY0OSw2LjY0N2MwLDMuNjY3LDIuOTgyLDYuNjQ3LDYuNjQ5LDYuNjQ3YzEuMzkxLDAsMi42ODItMC40MzQsMy43NS0xLjE2NGw0LjgzNCw0LjgzNEwxNy42MzIsMTYuOTU1eg0KCSBNMi44MjQsNy42NjZjMC0yLjg2MiwyLjMzLTUuMTkxLDUuMTkyLTUuMTkxYzIuODY0LDAsNS4xOTIsMi4zMjksNS4xOTIsNS4xOTFjMCwyLjg2MS0yLjMyOCw1LjE5MS01LjE5Miw1LjE5MQ0KCUM1LjE1NCwxMi44NTUsMi44MjQsMTAuNTI3LDIuODI0LDcuNjY2eiIvPg0KPC9zdmc+DQo=);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: none;

    align-content: right;
}
button[type=submit]:focus,
#search-subimit
{
    outline: 0;/*隐藏边框高亮*/
}

/*search end*/

/* header top end*/
/**/

h2.head
{
    font-size: 2em;
    font-weight: lighter;

    margin-top: 20px;
    margin-bottom: 10px;

    text-align: center;
    text-transform: uppercase;
    /*字母大写*/

    color: #555;
}
p.head1
{
    font-size: 1em;

    margin-top: 0;
    margin-bottom: 10px;

    text-align: center;
    text-transform: uppercase;
    /*字母大写*/

    color: #555;
    border-bottom: 1px solid #e3e3e3;
}
h2.head2
{
    font-size: 1.2em;
    font-weight: lighter;
}
.show
{
    /*    overflow: auto;*/
    margin: 50px auto 0 auto;
}
.show-col
{
    overflow: auto;/*margin-right不超出*/

    width: 1020px;/*margin-right不超出*/
    margin: 0;
    padding: 0;
}
.prdt-show
{
    position: relative;

    float: left;
    overflow: hidden;

    width: 233px;
    /*height: 300px;*/
    margin: 0 20px 20px 0;

    border: 1px solid #ddd;
}
.prdt-show:hover
{
    -webkit-transition: all .8s ease;
    /*背景色渐变显示*/
       -moz-transition: all .8s ease;
         -o-transition: all .8s ease;
            transition: all .8s ease;

    color: #fff;
    border-color: #0279db;
    /*background-color: #0279db;*/
}
.prdt-show:hover .title
{
    color: #fff;
}
.prdt-show:hover .actual
{
    color: #fff;
}
.prdt-show a
{
    text-decoration: none;

    color: #000;
}
.prdt-img img
{
    display: block;

    width: 100%;
    margin: 0;

    border: 0;
}
.prft-asider
{
    line-height: 40px;

    margin: 0 10px;
}
.prft-asider h5
{
    margin: 0;
}
.description-region
{
    /*display: none;*/
    position: absolute;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 80px;
    /*z-index:-9999 ;*/
}
.description
{
    position: relative;
    bottom: -80px;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 3px 10px;

    background-color: #0279db;
}
.description p
{
    line-height: 8px;

    color: #fff;
}
.prdt-show:hover .description-region .description
{
    bottom: 0;

    -webkit-transition: all .6s ease;
    /*背景色渐变显示*/
       -moz-transition: all .6s ease;
         -o-transition: all .6s ease;
            transition: all .6s ease;
}
.title
{
    text-align: left;
}
.price
{
    text-align: left;

    color: #0279db;
}
.show-main h3
{
    font-size: 14px;
}
.show-main p
{
    font-size: 12px;
}
.sale-new
{
    position: absolute;
    top: -2px;
    right: -2px;

    overflow: hidden;

    width: 100px;
    height: 100px;

    text-align: center;
}
/*.sale-box span.before {
    right: 89px;
    background: #CB3D27;
}*/

.sale-new span.new
{
    font-size: 1em;

    position: relative;
    z-index: 2;
    top: 16px;
    left: 0;

    display: block;

    width: 140px;
    padding: 5px 0;

    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background: #039be5;
    -webkit-box-shadow: 0 0 5px #555;
       -moz-box-shadow: 0 0 5px #555;
            box-shadow: 0 0 5px #555;

         -o-box-shadow: 0 0 5px #555;
}
.sale-hot
{
    position: absolute;
    top: -2px;
    left: -2px;

    overflow: hidden;

    width: 100px;
    height: 100px;

    text-align: center;
}
.sale-hot span.hot
{
    font-size: 1em;

    position: relative;
    z-index: 2;
    top: 16px;
    left: -40px;

    display: block;

    width: 140px;
    padding: 5px 0;

    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background: #cb3d27;
    -webkit-box-shadow: 0 0 5px #555;
       -moz-box-shadow: 0 0 5px #555;
            box-shadow: 0 0 5px #555;

         -o-box-shadow: 0 0 5px #555;
    /*  border-bottom: 2px solid #CB3D27;*/
}
#more
{
    font-size: 16px;
    line-height: 16px;

    width: auto;
    margin: 0;

    text-align: right;
}
.clear
{
    clear: both;
}
#bottom-show
{
    width: auto;
    margin: 50px auto 0 auto;
}

/*products css start*/

.sort
{
    font-size: 20px;

    margin-top: 20px;
    padding-top: 50px;

    text-align: left;

    color: #0277bd;
    border-bottom: 2px solid #0277bd;
}
.prdt-sider
{
    float: right;

    width: 203px;
    margin: 40px 0 0 0;
    /*width用的百分比的话，sider固定会宽度会以body的宽度百分比而不是show的百分比*/
    /*border: 1px solid #555555;*/
    /*margin-top: 20px;*/
}
.prdt-sider h3
{
    font-size: 20px;

    margin-top: 20px;
    padding-left: 30px;

    text-align: left;

    color: #129be5;
    border-bottom: 2px solid #129be5;
}
.prdt-sort
{
    display: block;

    width: 100%;
    margin: 0;/*与li的padding margin一起是的list占位消失*/
    padding: 0;/*与li的padding margin一起是的list占位消失*/

    text-align: left;
}
.prdt-sort li
{
    width: 203px;
    margin: 6px 0;
    padding: 0;

    list-style: none;
}
.prdt-sort li a
{
    font-size: 18px;
    line-height: 40px;

    display: block;/*使空白处也为a*/

    padding-left: 30px;

    text-decoration: none;

    color: #0277bd;
    border-right: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 10px #aaa;
       -moz-box-shadow: 0 0 10px #aaa;
            box-shadow: 0 0 10px #aaa;

         -o-box-shadow: 0 0 10px #aaa;
}
.prdt-sort li a:hover
{
    color: #fff;
    border-right: 20px solid #0277bd;
    background-color: #0277bd;
}
.prdt-main
{
    float: left;

    width: 1220px;
    /*border-left: 2px solid #555;*/
}
/*products css end*/
/* foot top start*/

#foot
{
    width: auto;
    margin: 10px auto 0 auto;

    text-align: right;

    background-color: #222;
}
#address
{
    float: left;

    width: 60%;
}
#contact
{
    float: right;
    display: none;

    width: 35%;
}
#address h2,
#contact h2
{
    font-size: 1.5em;

    margin-top: 20px;
    margin-bottom: 10px;

    text-align: left;
    text-transform: uppercase; /*字母大写*/

    color: #fff;
    border-bottom: 1px solid #e3e3e3;
}
#address p
{
    font-size: 14px;
    font-weight: normal;

    text-align: left;

    color: #ddd;
}
#copyright
{
    font-size: 12px;
    line-height: 40px;

    width: auto;
    margin: 0;
    padding-bottom: 30px;

    color: #ddd;
    border-top: 1px solid #ddd;
}
/*product web*/
.product-head1
{
    width: auto;
    height: 50px;
    margin: 0 auto;
}
.product-head2
{
    z-index: 9999;

    width: 100%;
    margin: 0 auto;

    opacity: .95;
    border-bottom: 1px solid #cdcdcd;
    background-color: #fff ;

    filter: alpha(opacity=95);/*兼容IE8以下浏览器*/
}
.product-head3
{
    line-height: 50px;

    overflow: hidden;

    width: 1220px;
    height: 50px;
    margin: 0 auto;

    opacity: .95;
    background-color: #fff ;

    filter: alpha(opacity=95);/*兼容IE8以下浏览器*/
}
.product-name
{
    font-size: 24px;
    font-weight: lighter;

    float: left;

    margin: auto 0;
    padding-left: 20px;

    text-align: left;
}
.product-name a
{
    text-decoration: none;
}
ul.product-info
{
    float: right;

    margin: auto 0;
}
ul.product-info li
{
    float: left;

    margin: 0 30px;

    list-style: none;
}
ul.product-info li a
{
    font-size: 1em;
    font-weight: normal;
    line-height: 1.75;

    text-decoration: none;

    color: #6d6d6d;
}
ul.product-info li a:hover
{
    color: #ff0056;
}
.product-content
{
    width: auto;
    margin: 0 auto;

    text-align: center;
}
.product-content img
{
    margin: 1px auto;

    border: 0;
}
.product-content h3
{
    font-weight: lighter;

    width: auto;
    margin: 0 0 10px 0;
    padding: 50px 0 0 20px;

    text-align: left;

    color: #ff0056;
    border-bottom: 1px solid #999;
}
.product-content .features
{
    height: 400px;

    background-image: url(../img/s1.jpg);
    background-position: 50%;
    -webkit-box-shadow: 0 0 10px #aaa;
       -moz-box-shadow: 0 0 10px #aaa;
            box-shadow: 0 0 10px #aaa;

         -o-box-shadow: 0 0 10px #aaa;
}
.product-content .features ul
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    opacity: .95;
    background-color: #3a4049;

    filter: alpha(opacity=95);/*兼容IE8以下浏览器*/
}
.product-content .features ul li
{
    font-size: 24px;
    font-weight: lighter;

    height: 12.5%;
    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;

    color: #ddd;
}
/*.product-content .features-gardient-container{
    background-color: transparent;
    background-image: -webkit-linear-gradient(270deg, rgba(255,255,255,0) 60%, #fff 100%);
    background-image:    -moz-linear-gradient(270deg, rgba(255,255,255,0) 60%, #fff 100%);
    background-image:      -o-linear-gradient(270deg, rgba(255,255,255,0) 60%, #fff 100%);
    background-image: linear-gardient(270deg, rgba(255,255,255,0) 60%, #fff 100%);
}*/
.product-content table.product-specs
{
    width: auto;
    margin: 2px 0 0 0;

    text-align: left;
}
.product-content table.product-specs tr.specs-tr
{
    display: table;

    margin: -1px 0 0;
    padding: 0;

    border: 1px solid #999;
}
.product-content table.product-specs td.catalogue
{
    font-size: 18px;

    width: 300px;
    margin: 0;
    padding: 0;

    text-align: right;

    border: 0;
}
.product-content table.product-specs td.details
{
    width: 600px;
    height: auto;
    margin: 0;
    padding: 0 0 0 40px;
}
/*contact*/
.contact-address
{
    float: left;

    width: 40%;
    margin: 0;
}
.contact-form
{
    float: right;

    width: 50%;
    margin: 0 auto;
    padding: 0;
}
.to,
.text
{
    position: relative;
    right: 5px;

    float: right;

    width: 100%;
}
.to input[type='text']
{
    font-size: .85em;

    float: left;

    width: 100%;
    margin: 10px 0;
    padding: 10px 0 10px 10px;

    color: #888;
    border: none;
    border: 1px solid #dfe0e2;
    outline: none;
    background: #f8f8f8;
}
.to input[type='text']:hover,
.text input[type='text'],
.text textarea:hover
{
    border-color: #0277bd;
}
.text input[type='text'],
.text textarea
{
    font-size: .85em;

    position: relative;
    right: 5px;

    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px 0 10px 10px;

    resize: none;

    color: #888;
    border: none;
    border: 1px solid #dfe0e2;
    outline: none;
    background: #f8f8f8;
}
.form-submit
{
    position: relative;
    left: -5px;
}
.form-submit input[type='submit']
{
    font-size: .95em;
    font-weight: normal;
    font-weight: 100;

    display: inline-block;

    padding: 15px 40px;

    cursor: pointer;
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
         -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
    text-transform: uppercase;

    color: #fff;
    border: none;
    outline: none;
    background: #333;
}
.form-submit input[type='submit']:hover
{
    background: #0277bd;
}


.void
{
    font-size: 59px;

    width: 1220px;
    margin: 0 auto;

    text-align: center;

    background-image: url(../img/worldmap.jpg);
    background-repeat: no-repeat ;
    background-position: 50%;
    background-size: 100%;
}
.void div
{
    margin: 0;
    padding: 240px;

    opacity: .95;
    color: #ccc;
    background-color: #333;

    filter: alpha(opacity=95);/*兼容IE8以下浏览器*/
}
