    <!--flex slider .start-->
    <div class="slider-area">
      <div class="banner flexslider">
        <ul class="slides">
          <li>
            <a href="products/speaker/1.html" target="_blank">
              <img src="img/s1.jpg" />
            </a>
          </li>
          <li>
            <a href="products/scanner/2.html" target="_blank">
              <img src="img/s2.jpg" />
            </a>
          </li>
          <li>
            <a href="products/mini pc/3.html" target="_blank">
              <img src="img/s3.jpg" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--flex slider .end-->