    <header id="main-head">
      <div id="nav-bar">
        <div id="logo" >
        <a href="index.html">
                <img src="img/LOGO-W.png" title="ULINK" />
        </a>
        </div>
        <div id="nav">
          <ul>
            <li>
              <a href="products.html">产品</a>
            </li>
            <li>
              <a href="service.html">服务</a>
            </li>
            <li>
              <a href="contact.html">联系我们</a>
            </li>
            <li>
              <a href="about.html">关于我们</a>
            </li>
          </ul>
        </div>
        <div id="search">
          <form method="get" id="searchform" action="http://www.google.com/search">
            <input type="hidden" name="domains" value="http://www.ulinkmega.com/" />
            <input type="hidden" name="sitesearch" value="www.ulinkmega.com" />
            <input type="text" name="q" size="31" class="field" id="s" placeholder="Search" maxlength="255" value="" />
            <input type="hidden" name="ie" value="utf-8" />
            <input type="hidden" name="oe" value="utf-8" />
            <input type="hidden" name="hl" value="" />
            <label for="s" class="assistive-text">Search</label>
            <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
            <button type="submit" name="search" id="search-subimit" class="search-submit " onclick="onsubmit" ></button>
          </form>
        </div>
      </div>
    </header>